@import "mixin";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#hero .navbar ul{

    display: flex;
    align-items: center;
     gap: 20px;
     list-style: none;
     justify-content: center;
     margin-right: 50px;

}

#click{
display: none;
}


nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    background: url(images/1banner.jpg)no-repeat center center /cover;
    height: 100px;
    align-items: center; 
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 50;

}
nav label{
    color: black;
    margin-right: 50px;
display: none;
}



nav h3{
    color: white;
}
nav ul {
    display: flex;
    gap: 30px;
   
    
    
}
nav ul li {
    display: flex;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 100;
    border: 5px solid transparent;
    border-radius: 35px;


    
    
}
nav ul li a{
    text-decoration: none;
    color: white;

    
    
}
nav ul li a:hover{
    border: 5px solid transparent;
    background-color: rgba(190, 240, 240, 0.425);

    border-radius: 50px;


}




.banner{
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(images/1banner.jpg)no-repeat center center/cover;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    color: white;
    line-height: 50px;

    h3{
        font-size: 35px;
        font-weight: bolder;
    }
    p{
        font-size: 15px;
        font-weight: bolder;
    }

}

.duty{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 90px;
    padding-right: 50px;
    margin-bottom: 100px;
    gap: 50px;
    .call{
        display:flex;
        justify-content:end;
        align-items: center;
    
        
    }
    
    img{
        display: flex;
        height: 400px;
        width: 400px;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
    }
    .modern{
        
         padding-right: 90px;
         @include display2();

        h3{font-size: 30px;
            }
       
       h4{
       
        margin-bottom: 10px;
        line-height: 50px;
        color: blueviolet;
        font-size: 30px;

      }
      p{
        margin-bottom: 20px;
        font-weight: bolder;
      }

     .cart{
        display: flex;
        
        gap: 20px;
        h5{ @include display();
            font-size: 20px;
            height: 40px;
            width: 50px;
            background-color: rgb(252, 232, 232);
            border: 1px solid;
            border-radius: 20px;
        }

        h6{
            background-color: #ee626b;
            font-size: 14px;
            display: flex;
            height: 40px;
            width: 150px;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            gap: 10px;
        }
      
      }
      
    .game{
        margin-top: 20px;
        font-size: 15px;
        line-height: 2px;
        color:rgb(194, 153, 233);
         
        
        span{
            color:rgb(137, 89, 182);
            
            display: flex;
            margin-left: 100px;
            justify-content: start;
            align-items: start;
        }

        
 }
 }
}

.description{
    margin-top: 20px;
    height: 100%;
    background-color: rgb(224, 210, 238);
    border-radius: 50px;
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding: 40px;
    
    h3{
        font-size: 30px;
    
      
    }

    p{
        font-size: 20px;
        line-height: 30px;
        margin-top: 50px;
    }
}

.action{
    height: 100%;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: column;
    justify-content: center;
    
background-color:rgb(239, 238, 238);
border-radius: 30px;
margin-top: 50px;
margin-bottom: 50px;
    
   

    .view-all{
        text-decoration: none;
        background-color: #ee626b;
        
    }

    h3{
        display: flex;
        font-size: 30px;
        justify-content:space-between;
    

    
      a{
    
            font-size: 20px;
            display: flex;
            text-decoration: none;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            width: 100px; 
            font-size: 15px;
            color: white;
            
        
      }
    }
    .cate{
        display: grid;
        margin-top: 30px;
        grid-template-columns: repeat(5,1fr);
        gap: 10px;
        width: 100%;
        text-align: center;
       
    
        .top{
            
            background-color: rgb(153, 98, 204);
            color: white;
            display: flex;
            flex-direction: column;
            justify-content:space-between;
            border-radius: 24px;

            img{
                height: 250px;
                width: 100%;
                border-radius: 20px;

            }
            
            h4{
                margin-top: 20px;
                font-size: 20px;
                
            }
        }
    }
}
.footer{
    height: 100%;
    background: url(images/1banner.jpg) no-repeat center center/cover;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    .copy{
        p{
        margin-top: 50px;
        margin-bottom: 50px;
        }
    }
   
    .address{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       padding: 20px;
       gap: 50px;
       margin-top: 100px;
       p{
        padding-left: 10px;
        padding-right: 30px;
        line-height: 40px;
       }
    }
    .logo{
        display: flex;
        gap: 50px;
        font-size: 30px;
        margin-top: 50px;
        i{
           background-color:black;
            border: 10px solid black;
            border-radius: 40px;

        }
    }
}

.footer::before{
    content:'';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 40, 69, 0.7);
}
.footer *{
    z-index: 10;
}


@media screen and (max-width:769px){
    nav label{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    #hero .navbar ul{
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0px;
        width: 100%;   
        display: none;
    }

     
    nav ul{
        background-color:rgba(255, 255, 255, 0.976);
        border-radius: 20px ;
        margin-bottom: auto;
        display: block;

    
    }
    nav ul li a{
        color: black;
    }
    nav ul li a:hover{
        border: 20px solid transparent;
        background-color: rgba(190, 240, 240, 0.964);
    
        border-radius: 50px;
    }

    #click:checked ~ #hero .navbar ul{
        display: block;
        display: flex;
        justify-content: center;
        align-items:center;
        line-height: 1px;
        position: absolute;
        right: 1px;
        top: 70px;
        left: 0px;
    }
    .duty{
        display: grid;
        grid-template-columns:1fr 1fr;
    .call{
        img{
            width: 90%;
        }
    }
    
    }
.action{
    .cate{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 100px;
    }
}
.footer{
    margin-top: 100px;
    .address{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    

}
}


@media screen and (max-width:426px) {
    .footer{
        margin-top: 100px;
        .address{
            h3{
                font-size: 15px;
                line-height: 50px;
            }
            p{
                font-size: 15px;
                line-height: 30px;
            }
        }
    
        }
    .duty{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 100px;
        .modern{
            padding-left: 50px;
        }
    .call{
        img{
            width: 90%;
        }
    }
    
    }
.action{
    .cate{
        display: grid;
        grid-template-columns:  1fr;
        margin-top: 100px;
    }
}

.footer{
    margin-top: 100px;
    .news{
    font-size: 20px;
    gap: 30px;
    padding: 10px;
    line-height: 1px;
    }

}
}

